.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.spinnerArea {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(50, 40, 123, 0.153) 0%, rgba(254, 254, 254, 0) 70%);
}

@keyframes spinner {
  from {
    transform: rotate(0deg) translateX(55px) rotate(88deg);
  }

  to {
    transform: rotate(360deg) translateX(55px) rotate(88deg);
  }
}

.truckIcon {
  position: absolute;
  animation: spinner 1500ms linear infinite;
  top: 50px;
  left: 50px;
  width: 50px;
}

.globeIcon {
  width: 84px;
}

.loadingMessage {
  display: flex;
  color: rgb(49, 40, 123);
  font-size: 1.3rem;
  font-weight: 700;
}